*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    
}

.outerdiv{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/farmer3.svg);
    background-color: #cccccc; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

.logo{
    position: absolute;
    left: 5%;
    top: 5%;
    font-weight: 100;
    font-size: 1 rem;
    cursor: pointer;

}

.home{
    position: absolute;
    left: 90%;
    top: 5%;
    font-weight: 100;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 8px;
}

.container{
    position:absolute;
    width: 75%;
    height: 70%;
    text-align: center;
    left: 15%;
    top: 5%;
    padding: 20px;
}

.container a{
    color: black;
    font-style: none;
}

.container span{
    color:blue;
    font-weight: bold;
}


.content{
    display: flex;
    flex-direction: column;
    text-align: left;
    color: blue;
    width: 100%;
    word-spacing: 0.2rem;
    font-size: 1.1rem;
}

.content h3{
    color: black;
}



@media (max-width:870px){
    .container{
        width: 80%;
        left: 10%;
    }

    .content{
        font-size: 0.8rem;
    }


}