<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../static/aboutus.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<body>

    <div class="outerdiv">
        <div class="logo">
            <h2>JKN</h2>
        </div>

        <div class="home">
            <a onclick="home()">Home</a>
        </div>

        <div class="container">
            <h2>Welcome to <span>Farmer's Friend</span></h2>
        </div>
        <div class="buttons">
            <button class="button" onclick="cropRecommendation()">What we do?</button>
            <button class="button" onclick="diseaseDetection()">Study Area</button>
            <button class="button" onclick="diseaseDetection()">Technology Used</button>

        </div>
    </div>

      

    <script>

    function home(){
        //   Put the Url here
          location.href="/";
      }

      function whatWeDo(){
        //   Put the Url here
          location.href="/whatwedo";
      }

      function studyArea(){
        //   Put the Url here
         location.href="/studyarea";
      }

      function technologyUsed(){
        //   Put the Url here
         location.href="/technologyused";
      }

    </script>
    
</body>
</html>