<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop Prediction2</title>
    <link rel="stylesheet" href="../static/cropprediction2.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <div class="header">
        <div class="logo">JKN</div>
        <div class="home"> <i class="fa fa-home"></i>
            <span>HOME</span>
        </div>
    </div>
    
        <h1>Crop Recommendation</h1>

        <div class="form-container">
            <form action="">
                <div class="container soil-type">
                    <label for="soiltype">Type of Soil :</label> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <select name="soiltype" id="soiltype">
                        <option value="">Select</option>
                        <option value="">Alluvial soils</option>
                        <option value="">Black Soil</option>
                        <option value="">Laterite Soil</option>
                        <option value="">Red and Yellow Soil</option>
                    <option value="">Saline Soil</option>
                   </select>
                </div>
                
                <div class="container ph-value">
                    <label for="ph">pH Value of Soil :</label> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <input type="number" name="ph" id="ph" placeholder="0">
                </div>   
            </form>
        </div>

        <div class="btns">
            <button class="back btn" onclick="previousPage()">Back</button>
            <button class="next btn" onclick="nextPage()">Next</button>
        </div>

    <nav class="progress-bar">
        <ul>
            <li><a href="#" class="active"></a></li>
            <li><a href="#" class="active"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            
        </ul>
    </nav>

    <script>

        function nextPage(){
          //   Put the Url here
            location.href="/cropprediction3";
        }
  
        function previousPage(){
          //   Put the Url here
           location.href="/cropprediction1";
        }
  
      </script>
    
</body>
</html>