<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Areas</title>
    <link rel="stylesheet" href="../Ssatic/studyarea.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

    <div class="outerdiv">
        <div class="logo">
            <h2>JKN</h2>
        </div>

        <div class="home">
            <i class="fa fa-home"></i>
            <a>Home</a>
        </div>

        <div class="container">
            <h1><a href="#">About Us</a></h1><br><br>
        <div class="content">
        <h3>Study Areas</h3><br>
         <p> We conducted our study in the areas and get problems and soutions from
            the<span> locals of Banar, Jhinjana, Tana, Kaswerwa Kalan and Shamli Village.</span>
            These areas are situated at the<span> border of Uttar Pradesh and Haryana</span>.
            We found their problem very similar. So, we framed out some of the common issues.
        </p>
    </div>
</div>

    
</body>
</html>




















