<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technology Used</title>
    <link rel="stylesheet" href="../static/technologyused.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

    <div class="outerdiv">
        <div class="logo">
            <h2>JKN</h2>
        </div>

        <div class="home">
            <i class="fa fa-home"></i>
            <a>Home</a>
        </div>

        <div class="container">
            <h1><a href="#">About Us</a></h1><br>
        <div class="content">
        <h3>Technology Used</h3><br>
        <p>The technique used in giving the solution i.e. classifying the disease in a crop
            uses the concept of <span>image processing with Artificial Intelligence.</span>
            More precisely, our proposed solution includes using a <span>Deep Learning algorithm(Convolutional Neural Network)</span>
            and performing other <span>mathematical calculations</span> on <span>feed-forward network.</span>
        </p>
        <br>
        <p>The crop recommendation tasks will be done <span>by a Machine Learning algorithm which will calculate the similarity between 
            the given conditions</span> entered by the user (farmer) and pre-stored data.
        </p>

    </div>
</div>
    
</body>
</html>

